@font-face {
    font-family: myriad;
    src: url('fonts/MYRIADPRO-REGULAR.woff') format('woff');
    font-weight: 300;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: myriad;
    src: url('fonts/MYRIADPRO-SEMIBOLD.woff') format('woff');
    font-weight: 700;
    font-style: bold;
    font-display: swap;
}

* {
    font-family: 'myriad', arial;
}

#blogPostsTab i.bi-eye {
    border-left: none !important;
    border-right: 2px solid;
    margin-right: 10px;
    padding-right: 10px;
}

.carousel-caption p {
    font-size: 25px;
}

select {
    direction: ltr;
    text-align: left;
    appearance: none !important;
    background-image: url("data:image/svg+xml;charset=UTF-8,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 24' fill='none' stroke='currentColor' stroke-width='2' stroke-linecap='round' stroke-linejoin='round'%3e%3cpolyline points='6 9 12 15 18 9'%3e%3c/polyline%3e%3c/svg%3e") !important;
    background-repeat: no-repeat !important;
    background-position: right 1rem center !important;
    background-size: 1em !important;
}

textarea {
    text-align: left;
    direction: ltr;
}

input {
    direction: ltr;
    text-align: left;
}

.wpcf7-form .row {
    direction: ltr;
    font-size: 16px;
}

.hiringForm .wpcf7-submit {
    font-size: 20px;
}

.wpcf7-response-output {
    direction: ltr;
    text-align: left;
}

.singleProductContent {
    font-size: 24px;
    background-color: #fff;
}

.singleProductContent p {
    direction: ltr;
}