@font-face {
    font-family: vanda;
    src: url('fonts/Vanda-Regular.woff2') format('woff2');
    font-weight: 300;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: vanda;
    src: url('fonts/Vanda-Bold.woff2') format('woff2');
    font-weight: 700;
    font-style: bold;
    font-display: swap;
}
@font-face {
    font-family: peyda;
    src: url('fonts/Peyda-Regular.woff2') format('woff2');
    font-weight: 300;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: peyda;
    src: url('fonts/Peyda-Bold.woff2') format('woff2');
    font-weight: 700;
    font-style: bold;
    font-display: swap;
}

* {
    font-family: 'peyda';
}

.navbar-light .nav-item a {
    font-size: 18px;
    font-weight: 100;
}

.indexTopText h1 {
    font-size: 28px !important;
    line-height: 53px;
}

.indexTopText .lead {
    font-size: 20px;
}

.indexTopText p.text-muted {
    font-size: 16px !important;
}

.primary-button {
    font-size: 16px;
}

.section-title {
    font-size: 22px !important;
    line-height: 25px;
}

.nav-pills .nav-link {
    font-size: 18px !important;
    font-weight: normal !important;
}

.card-product .card-title {
    font-size: 16px;
    line-height: 20px;
    padding-right: 21px;
    text-align: right !important;
}

.card-product .card-title::before {
    transform: translateY(30%);
    bottom: 50%;
    right: 0px;
    left: auto !important;
}

.text-muted {
    font-size: 16px !important;
    text-align: justify !important;
    direction: rtl;
}
.itemBox .text-muted {
    font-size: 14px !important;
}

.splide__track {
    text-align: right;
    direction: rtl;
}

.nav-pills .nav-link.active::before {
    left: auto !important;
    right: 0;
}

.nav-pills {
    direction: rtl;
}

.splide__arrow--prev {
    left: 0 !important;
    right: auto !important;
}

.splide__arrow--next {
    right: 0 !important;
    left: auto !important;
}

.primary-button i {
    vertical-align: middle;
    margin-top: 2px;
}

.text-video-container {
    direction: rtl;
}

.text-video p {
    padding: 0.25rem 0 0 0;
    text-align: justify;
    font-size: 16px;
    color: #c1c1c1 !important;
}
.text-video-title{
    font-size: 26px;
}
.text-video-subtitle{
    font-size: 18px;
}
.personelItem h5 {
    font-size: 32px;
    line-height: 23px;
}

.indexContactContainer h4 {
    font-size: 22px;
    font-weight: bold;
}

.indexContactContainer {
    direction: rtl;
}

.indexContactContainer .subtitle {
    font-size: 18px;
}

select {
    direction: rtl;
    text-align: right;
    appearance: none !important;
    background-image: url("data:image/svg+xml;charset=UTF-8,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 24' fill='none' stroke='currentColor' stroke-width='2' stroke-linecap='round' stroke-linejoin='round'%3e%3cpolyline points='6 9 12 15 18 9'%3e%3c/polyline%3e%3c/svg%3e") !important;
    background-repeat: no-repeat !important;
    background-position: left 1rem center !important;
    background-size: 1em !important;
}

input[type="text"]:not(.p-3),
textarea,
select {
    font-size: 14px !important;
    padding: 5px !important;
    font-family: 'peyda';
}
.text-muted.text-detail{
    font-size: 15px !important;
}
.ltr {
    direction: ltr !important;
    text-align: left !important;
}

.card-body h5 {
    text-align: right !important;
    direction: rtl !important;
    font-size: 16px;
    font-weight: bold;
}

.span:before {
    width: 333px !important;
}

.learn-more .span:before {
    shape-outside: polygon(34% 0, 100% 0, 100% 100%, 100% 73%) !important;
}

.footer-logo h5 {
    font-size: 20px;
}

.footer-logo .aboutTxt {
    text-align: justify;
    font-size: 20px;
    line-height: 35px;
    direction: rtl;
}
.aboutTitle{
    font-size: 20px;
}
.footerContactTitle {
    font-size: 22px;
    font-weight: bold;
    line-height: 27px;
}

.footer-icon-group {
    font-size: 28px;
}

.bg-footer .smal {
    font-size: 20px;
}

.copy-right a {
    font-size: 14px;
}

.footer-logo {
    height: 107.5% !important;
}

.carousel-caption .carousel-tittle {
    font-size: 67px !important;
}

.carousel-caption p {
    font-size: 30px;
}

.product-discription {
    text-align: right;
}

.contact-us-form h3 {
    text-align: center;
    font-size: 22px;
    margin-bottom: 1rem;
}

.contact-us-form .footer-icon-group {
    direction: rtl;
}

.contact-us-form .bi {
    margin-left: 10px;
    margin-right: 0px !important;
}

.nav-tabs span {
    font-size: 1.5rem;
}

#blogPostsTab {
    direction: rtl;
}

.singleBlogContent,
.singleBlogContent .text-muted {
    font-size: 24px !important;
}

.learn-more .titleH1 {
    font-size: 60px;
}

.learn-more .text-muted {
    font-size: 17px !important;
}

.about_page_top .learn-more {
    padding-top: 10px !important;
}

.form-check .form-check-input {
    float: none !important;
    margin-left: 10px !important;
}

/* .badge-blog {
    padding-right: 1rem;
    transform: matrix(-1, 0, 0, 1, 0, 0) translate(0, -100%) !important;
} */

.productsFiltersRow {
    direction: rtl;
}

.search-btn {
    clip-path: polygon(0 0, 50% 0, 93% 100%, 0% 100%) !important;
    -webkit-clip-path: polygon(0 0, 50% 0, 93% 100%, 0% 100%) !important;
}

.search-btn i.bi-search {
    margin-left: 0px !important;
    margin-right: 35px !important;
    line-height: 0;
}

@media screen and (max-width:768px) {

    .indexTopText h1 {
        text-align: right;
    }

    .carousel-caption .carousel-tittle {
        font-size: 55px;
    }

    .navbar-nav {
        direction: rtl;
        padding-right: 0px !important;
        text-align: center;
    }
}

.text-box-aboutus,
.text-box-aboutus2,
.text-box-aboutus3 {
    direction: rtl;
}

.singleProductContent p {
    direction: rtl;
}

.product-discription p::before {
    margin-left: 10px !important;
    margin-right: 0px !important;
}

.pagination {
    direction: ltr;
}

.contact-title {
    font-size: 23px;
}

.page-item a {
    font-size: 25px;
}

.page-item a.page-link ,
.page-item.active a.page-link {
    font-size: 25px;
}

.about_page_top h1,
.about_page_top p {
    direction: rtl;
}

.text-box-aboutus li::before,
.text-box-aboutus2 li::before {
    margin-left: 10px;
    margin-right: auto !important;
}