/*
Theme Name: Kimiya Co Theme
Theme URI: https://bytegroup.ir
Author: Byte Group
Author URI: https://bytegroup.ir/
Description: قالب اختصاصی کیمیا موتور
Version: 1.1
Tested up to: 5.4
Requires PHP: 7.0
License: GNU General Public License v2 or later
License URI: http://www.gnu.org/licenses/gpl-2.0.html
Text Domain: قالب اختصاصی کیمیاموتور
*/

/* font-family: "Myriad Pro"; */

.indexProductsSplide {
  position: relative;
}

#searchform {
  display: flex;
  width: 100%;
}

.about_page .activity_fields li {
  margin: 5px 0px;
}


.copy-right a span {
  color: #480807;
}

* {
  font-family: sans-serif, Tahoma, Geneva, Verdana, sans-serif;
  text-decoration: none !important;
}

:root {
  --primary-color: #ae1a1f;
}

@media screen and (min-width:992px) {
  nav.navbar {
    padding-top: 0 !important;
    padding-bottom: 0 !important;
  }
}

.text-primary {
  color: var(--primary-color) !important;
}

.primary-button {
  background-color: var(--primary-color);
  display: inline-block;
  color: #fff !important;
  border-radius: 0 !important;
  padding: 0.1rem 1.5rem !important;
  transition: all 0.3s ease-in-out;
  border: 2px solid transparent;
}

.primary-button i {
  line-height: 0;
  display: inline-block;
  font-size: 0.9rem;
}

.mt-8 {
  margin-top: 9rem;
}

.w-30 {
  width: 35% !important;
}

.w-60 {
  width: 60% !important;
}

.primary-button:hover {
  border: 2px solid var(--primary-color);
  color: var(--primary-color) !important;
  background-color: #fff;

}

.wp-caption {
  margin: 0 auto;
}

.singleBlogContent h1,
.singleBlogContent h2,
.singleBlogContent h3,
.singleBlogContent h4 {
  color: var(--primary-color);
  font-weight: bold;
  margin: 4rem 0 0rem 0;
  display: inline-block;
  border-bottom: 4px solid var(--primary-color);
  padding: 0.5rem 3rem;
}

.indexContactContainer {
  margin-top: 80px !important;
  margin-top: 80px !important;
}

.greyBg {
  background-color: #f5f5f5;
}

:root {
  --animate-duration: 700ms;
  --animate-delay: 200ms;
}

.section-title {
  color: var(--primary-color);
  font-weight: bold;
  margin: 6rem 0 0rem 0;
  font-size: 2rem;
  display: inline-block;
  border-bottom: 4px solid var(--primary-color);
  padding: 0.5rem 2rem;
}

@media screen and (max-width: 768px) {

  .singleBlogContent h1,
  .singleBlogContent h2,
  .singleBlogContent h3,
  .singleBlogContent h4 {
    margin: 1rem 0 0rem 0;
  }
}

.splide__arrow--prev {
  left: 0;
}

.splide__arrow--next {
  right: 0;
}

.your-class-page {
  /* display: none; */
}

.splide__pagination__page.is-active {
  background-color: var(--primary-color);
}

@media screen and (max-width:768px) {
  .splide__arrow {
    display: none !important;
  }
}


/* start */

.card-blog-date {
  display: inline-block;
  margin: 3px 0;
  color: #bbbbbb;
  font-size: 14px;
}

header .carousel-item {
  height: 550px !important;
}

.carousel-item img {
  width: 100%;

  object-fit: cover;
}

.right-arrow {
  display: inline-block;
  border-top: 5px solid #ae1a1f;
  border-right: 5px solid #ae1a1f;
  width: 20px;
  height: 20px;
  border-radius: 4px;
  transform: rotate(-135deg);
}

.left-arrow {
  display: inline-block;
  border-top: 5px solid #ae1a1f;
  border-right: 5px solid #ae1a1f;
  width: 20px;
  height: 20px;
  border-radius: 4px;
  transform: rotate(45deg);
}

.carousel-caption {
  bottom: 40% !important;
}

.carousel-caption .carousel-tittle {
  font-size: 3rem !important;
  font-weight: bold;
  display: inline-block;
  position: relative;
  z-index: 1;
}

.carousel-tittle::after {
  content: "";
  position: absolute;
  display: block;
  width: 120%;
  height: 15px;
  left: 50%;
  background-color: var(--primary-color);
  bottom: 0;
  z-index: -1;
  transform: translateX(-50%) skewX(50deg);
}

.highlight-heder::after {
  content: "";
  position: absolute;
  display: block;
  width: 277px;
  height: 314px;
  background: url("assets/images/highlight.png") no-repeat right top;
  right: 0;
  background-size: cover;
  z-index: 1;
}

.highlight-heder::before {
  content: "";
  position: absolute;
  display: block;
  width: 320px;
  height: 320px;
  left: 0%;
  bottom: 0%;
  background: url("assets/images/highlight.png") no-repeat left bottom;
  transform: rotate(180deg);
  background-size: cover;
  z-index: 1;
}

header .nav-item {
  padding: 0 1rem;
  font-weight: bold;
}


.test {
  position: absolute;

  width: 550px;
  height: 125px;
  -webkit-clip-path: polygon(0 12%, 42% 12%, 60% 100%, 0% 100%);
  clip-path: polygon(0 12%, 43% 12%, 60% 100%, 0% 100%);
  margin: 2rem 0;
  background-color: #fff;
  top: -83px;
  left: -124px;
  padding-left: 130px;
  z-index: 100000000;

}

@media screen and (min-width:992px) {
  .test img {
    filter: drop-shadow(173px -22px 27px rgb(36, 36, 36));
    /* filter: drop-shadow(162px -33px 30px rgb(255, 255, 255)); */
    /* filter: drop-shadow(50px 50px 20px rgba(0, 0, 0, 0.5) ); */
  }
}

.ul-test {
  margin: 0 2rem;
  line-height: 0;
}

.navbar-light .nav-item {
  background-color: transparent;
  padding: 6px;
  margin: 0 0.5rem;
  transform: skewX(42deg);
  transition: all 0.3s ease-in-out;
  border-radius: 3px;
}

.navbar-light .nav-item .nav-link {
  transform: skewX(-42deg);
  width: max-content;
  font-size: 16px;
  font-weight: 500;
}
html:lang("fa_IR") .navbar-light .nav-item .nav-link {
  padding-top: 10px;
  padding-bottom: 10px;
}

.navbar-light .nav-item:hover {
  background-color: #ae1a1f !important;
}

.navbar-light .nav-item:hover a {
  color: #fff !important;
}

.navbar-light .nav-item.active {
  background-color: var(--primary-color);
  color: #fff !important;
  padding: 6px;
  margin: 0 0.5rem;
  transform: skewX(45deg);
  transition: all 0.3s ease-in-out;
  border-radius: 3px;
}

.navbar-light .nav-item.active a {
  color: #fff !important;
}

.btn-lang-group {
  overflow: hidden;
  width: 99px;
  display: flex;
  justify-content: center;
  align-items: center;
  align-self: center;
  margin-bottom: 10px;
}
.sticky-test .btn-lang-group {
  align-self: center;
  margin-bottom: 0;
}
.sticky-test .navbar-collapse {
  margin-top: 0;
}
html:lang("fa_IR") .btn-lang-group {
  width: 108px;
}

.btn-lang {
  outline: none;
  background-color: transparent;
  border: none;
  transform: skewX(37deg);
  padding: 0 0.7rem;
}

.btn-lang span {
  font-family: 'myriad', arial;
  display: block;
  transform: skewX(-37deg);
  color: #fff;
  font-size: 1.3rem;
}

.btn-lang.en {
  background-color: #474747;
  padding: 0 1.3rem;
  transition: all 0.3s ease-in-out;
}

.btn-lang.en:hover {
  opacity: .7;
}

.btn-lang.pe {
  background-color: #474747;
  padding: 0 1.3rem;
  transition: all 0.3s ease-in-out;
}

.btn-lang.pe:hover {
  opacity: .7;
}

.btn-lang.active {
  background-color: var(--primary-color);
}

.skew {
  transform: skew(37deg);
}

.skew>span,
.skew>div {
  transform: skew(-37deg);
  display: inline-block;
}

.primaryBg {
  background: var(--primary-color);
  border: 0px;
}

.primaryBg span,
.primaryBg div,
.primaryBg h1,
.primaryBg h2,
.primaryBg h3,
.primaryBg h4,
.primaryBg h5,
.primaryBg h6 {
  color: #fff
}

@media screen and (min-width:768px) {
  .sticky-test {
    background: #fff !important;
    position: fixed;
    width: 100vw;
    min-height: 90px;
    padding: 1rem;
    top: 0;
    left: 0;
    transition: all 0.4s ease;
    box-shadow: 2px 2px 5px #ccc;
    z-index: 10000000000000;
  }
}

.btn-lang-group-mobile {
  display: none;
}

.hiden-logo {
  display: none;
}

.navbar-brand {
  margin-right: 0.4rem;
}

@media screen and (max-width: 768px) {

  .btn-lang-group-mobile {
    display: inline-block;
  }

  .ml-xs-3 {
    margin-left: 1rem;
  }

  .imgLogo {
    display: inline-block;
    width: 100%;
  }

  .btn-lang-group-mobile {
    width: 40%;
    display: inline-block;
  }

  .btn-lang-group-mobile .btn-lang {
    height: 35px;
  }

  .navbar-toggler {
    margin-right: 10px;
    width: 20%;
    box-shadow: #00000040 0px 4px 6px 0px;
  }

  .indexTopText {

    position: relative;
    padding-left: 10px;
    width: 100%;
  }

  .indexTopImg {
    display: none;
  }

  .navbar-device {
    position: fixed;
    top: 0;
    background-color: #fff;
    z-index: 10000;
    box-shadow: 2px 2px 5px #ccc;
    padding: 0rem 0;
    left: 0;
    width: 100vw;
    min-height: 90px;
  }

  #carouselHeader {
    margin-top: 5rem;
  }

  header .carousel-item {
    height: 270px !important;
  }

  .carousel-caption .carousel-tittle {
    font-size: 1.8rem !important;
  }

  .carousel-caption {
    bottom: 30% !important;
  }

  .navbar>.container {
    flex-direction: row-reverse;
  }

  .test img {
    padding-top: 0;
  }

  .ul-test {
    margin-left: 0;
    margin-top: 60px;
    line-height: 0.5;
  }

  /* .navbar-light .nav-item.active {
    background-color: transparent;
  } */

  /* .navbar-light .nav-item.active a {
    color: var(--primary-color) !important;
  } */

  .navbar-light .nav-item:hover {
    background-color: transparent !important;
  }

  .navbar-light .nav-item:hover a {
    color: var(--primary-color) !important;
  }

  .navbar-brand {
    margin-right: 0 !important;
  }

  .btn-lang-group {
    position: absolute;
    top: 0%;
    left: 50%;
    transform: translate(-50%, 100%);
  }
}

@media screen and (max-width: 992px) and (min-width: 769px) {
  .navbar-light .nav-item.active {
    background-color: transparent;
  }

  .navbar-light .nav-item.active a {
    color: var(--primary-color) !important;
  }

  .navbar-light .nav-item:hover {
    background-color: transparent !important;
  }

  .navbar-light .nav-item:hover a {
    color: var(--primary-color) !important;
  }

  .test {
    position: static;
    width: 100%;
    height: 100%;
    -webkit-clip-path: polygon(0 0, 100% 0, 100% 100%, 0% 100%);
    clip-path: polygon(0 0, 100% 0, 100% 100%, 0% 100%);
    margin: 0;
    padding-left: 0px;
    padding: 0.2rem;
    display: flex;
    justify-content: start;
  }

  .test img {
    padding-top: 0;
  }

  /* .btn-lang-group {
      position: absolute;
      top: 6%;
      left: 50%;
      transform: translateX(-50%);
    } */
  .ul-test {
    margin: 0;
    line-height: 0.5;
  }
}

/* end of header */
.card-body-badge {
  position: absolute;
  display: inline-block;
  width: 80%;
  height: 10px;
  background-color: var(--primary-color);
  transform: skewX(20deg);
  top: -10%;
  z-index: -100000;
}

.learn-more-container {
  position: relative;
  height: 350px;
}

.learn-more {
  position: absolute;
  -webkit-clip-path: polygon(0 0, 46% 0, 100% 100%, 0% 100%);
  clip-path: polygon(0 0, 46% 0, 100% 100%, 0% 100%);
  background-color: #fff;
  width: 50%;
  height: 110%;
  z-index: 100000;
  text-align: justify;
  overflow: hidden;
}

.about_page_top .learn-more {
  padding-top: 110px;
}

.about_page .field_title {
  margin-top: 150px;
}

@media screen and (min-width:1400px) {
  .learn-more {

    -webkit-clip-path: polygon(0 0, 50% 0, 100% 100%, 0% 100%);
    clip-path: polygon(0 0, 50% 0, 100% 100%, 0% 100%);

  }
}

.learn-more h1,
.learn-more p,
.learn-more a {
  margin-left: 0rem;
}

.learn-more-pic {
  width: 100%;
  height: 100%;
  text-align: right;
  background-position: right;
  background-size: contain;
}

.learn-more-pic img {
  height: 100%;
}

.learn-moreabout-us-pic {
  position: relative;
  width: 100%;
  height: 100%;
  background-position: right;
  background-size: contain;
  text-align: right;

  /* -webkit-clip-path:polygon(0 0, 80% 0%, 100% 26%, 100% 100%, 44% 100%, 0 0);
    clip-path: polygon(0 0, 95% 0%, 100% 20%, 100% 100%, 55% 100%, 0 0); */
}

.learn-moreabout-us-pic img {
  height: 120%;
}

/* .learn-moreabout-us-pic::before{
    content: "";
    position: absolute;
    display: block;
    width: 100px;
    height: 350px;
    background-color: transparent;
    border-left: 10px solid var(--primary-color);
    border-bottom: 10px solid var(--primary-color);
    transform: skewX(42deg);
    z-index: 100000000;
    left: 40%;
    top: 13px;
    z-index: 100000000;
  } */

.indexTopText {
  position: absolute;
  width: 35%;
  float: left;
  padding-left: 57px;
}

@media screen and (max-width: 992px) {
  .learn-more-pic {
    background: none;
  }

  .learn-more {
    position: static;
    -webkit-clip-path: polygon(0 0, 100% 0, 113% 120%, 0% 100%);
    clip-path: polygon(0 0, 100% 0, 120% 120%, 0% 100%);
    width: 100%;
    height: 100%;
    text-align: justify;
    overflow: visible;
    padding-top: 0;
  }

  .learn-more h1,
  .learn-more p,
  .learn-more a {
    margin-left: 0;
  }

  .learn-more-container {
    background: none;
  }
}

/* products */
.form-check-input {
  border-radius: 0 !important;
}

.form-check-label {
  cursor: pointer;
}

.form-check-input:checked {
  background-color: var(--primary-color) !important;
  border-color: var(--primary-color) !important;
}

.form-check-input:focus {
  box-shadow: none !important;
}

.nav-pills .nav-link {
  transition: all 0.3s ease-in-out;
}

.nav-pills .nav-link:hover {
  color: #333 !important;

}

.nav-pills .nav-link.active {
  color: #333 !important;
  background-color: transparent !important;
  font-weight: bold !important;
  position: relative;
}

.nav-pills .nav-link.active::before {
  content: "";
  display: block;
  width: 10px;
  height: 10px;
  background-color: var(--primary-color);
  position: absolute;
  bottom: 50%;
  transform: translateY(50%);
  left: 0;
}

.card-product .card-img-top {
  width: 100% !important;
  height: 200px !important;
  padding: 0 2rem !important;
  object-fit: contain !important;
}

.products-carousel {
  padding: 3rem;
  height: 400 !important;
}

.card-seprator {
  width: 60%;
  height: 2px;
  background: rgb(34, 34, 34);
  background: linear-gradient(90deg, rgba(34, 34, 34, 1) 0%, rgba(102, 102, 102, 1) 50%, rgba(34, 34, 34, 1) 100%);
}

.border-dark {}

.card-product .card-title {
  position: relative;
  padding-left: 1rem;
}

.card-product .card-title::before {
  content: "";
  display: block;
  width: 10px;
  height: 10px;
  background-color: var(--primary-color);
  position: absolute;
  bottom: 50%;
  transform: translateY(70%);
  left: 0;
}

#carouselProductHome .carousel-control-prev,
#carouselPartner .carousel-control-prev {
  justify-content: start;
}

#carouselProductHome .carousel-control-next,
#carouselPartner .carousel-control-next {
  justify-content: end;
}


.text-video {
  position: absolute;
  right: 0px;
  height: 100%;
  top: 0px;
  z-index: -1;
  width: 75%;
  display: flex;
  justify-content: center;
  align-items: center;
  background: rgb(85, 85, 85);
  background: #3a3a3a;
}

.text-video {
  width: 54%;
}

.logosContainer .col-6 {
  height: 100px;
}

.logosContainer .col-6 img {
  width: auto;
  height: 100%;
}

.text-video-container {
  width: 50%;
}

.video-container {
  position: relative;
}

.video-container video {
  width: 57%;
}

.text-video p {
  border-top: 4px solid var(--primary-color);
  padding: 1rem 1.5rem 0 0;
  text-align: justify;
  font-size: 1.2rem;
}

@media screen and (max-width: 992px) {
  .text-video-container {
    padding-top: 2rem;
    width: 90%;
  }
}

.font18 {
  font-size: 18px !important
}

/* cars-logo */
.cars-logo {
  transition: all 0.3s ease-in-out;
  cursor: pointer;
}



/* partner */

.padding {
  padding: 1rem 0;
}

.card-partner img {
  border: 3px solid #555;
}

.card-partner .card-body {
  position: absolute;

  background-color: #fff;
  width: 90%;
  left: 50%;
  transform: translateX(-50%);
  bottom: -43px;
  z-index: 100;
}

.splide__list {
  align-items: center !important;
  padding: 1rem 0 4rem 0 !important;

}

.singleProductTop .splide__list {
  padding: 2rem 0 2rem 0 !important
}

#main-slider .splide__arrows {
  display: none;
}

.wp-caption-text {

  --bs-bg-opacity: 1;
  background-color: rgba(var(--bs-dark-rgb), var(--bs-bg-opacity)) !important;
  color: white;
  padding: 0.25rem !important;
  margin: 5px;
  font-size: .875em;
}

/* form */
.bg-form {
  background: url("assets/images/factory-wallpap.jpg") no-repeat center;
  background-size: cover;
}

.bg-crop {
  background: #3a3a3a;
  /* background: linear-gradient(90deg,
      rgba(85, 85, 85, 1) 0%,
      rgba(34, 34, 34, 1) 73%); */
  -webkit-clip-path: polygon(0 0, 30% 0, 50% 100%, 0% 100%);
  clip-path: polygon(0 0, 30% 0, 50% 100%, 0% 100%);
}

.form-control,
.form-select {
  padding: .7rem;
  border-radius: 0 !important;
}

.form-control:focus {
  border-color: transparent !important;

  outline: 0;
  box-shadow: 0 0 0 0.1rem var(--primary-color) !important;
}

.form-select:focus {
  border-color: transparent !important;
  outline: 0;
  box-shadow: 0 0 0 0.1rem var(--primary-color) !important;
}

@media screen and (max-width: 768px) {
  .bg-form {
    background: none;
  }

  .bg-crop {
    -webkit-clip-path: polygon(0 0, 100% 0, 100% 100%, 0% 100%);
    clip-path: polygon(0 0, 100% 0, 100% 100%, 0% 100%);
  }
}

@media screen and (max-width: 992px) and (min-width: 769px) {
  .bg-form {}

  .bg-crop {
    -webkit-clip-path: polygon(0 0, 50% 0, 50% 100%, 0% 100%);
    clip-path: polygon(0 0, 50% 0, 50% 100%, 0% 100%);
  }
}

/* blog */
.badge-blog {
  width: 95%;
  background: #fff;
  position: absolute;
  transform: translateY(-75%);
  padding-left: 1rem;
  padding-top: 3px;
  -webkit-clip-path: polygon(0 0, 57% 0, 80% 100%, 0% 100%);
  clip-path: polygon(0 0, 57% 0, 80% 100%, 0% 100%);
}

.badge-blog p::before {
  content: "";
  display: inline-block;
  width: 10px;
  height: 10px;
  background-color: var(--primary-color);
  margin-right: 3px;
}

/* footer */
.bg-footer {
  background: #333;
  /* background: linear-gradient(90deg,
      rgba(85, 85, 85, 1) 0%,
      rgba(34, 34, 34, 1) 73%); */
  padding: 3.5rem 1rem 0rem 1rem;
}

.list-footer {
  list-style-type: none;
  position: relative;
  padding: 0.7rem;
  display: inline-block;
}

.list-footer a {
  color: #c7c7c7;
  text-decoration: none;
  transition: all .3s ease-in-out;
}

.list-footer a:hover {
  color: var(--primary-color)
}

.list-footer::before {
  content: "";
  position: absolute;
  display: block;
  width: 10px;
  height: 10px;
  background-color: var(--primary-color);
  left: -5%;
  bottom: 50%;
  transform: translateY(50%);
}

.footer-icon-group {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  margin-bottom: 1rem;
}

.footer-icon-group i {
  background-color: var(--primary-color);
  color: #fff;
  display: block;
  padding: 0.5rem;

  height: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  line-height: 0;
  margin-right: 5px;
}

.footer-icon-group p {
  margin: 0;
  font-size: 14px;
  line-height: 1.5;
}

.social-icons{
  display: flex;
}
.social-icons a {
  display: block;
  margin: 0 1px;
}
.social-icons i {
  color: #fff;
  font-size: 25px;
  margin-right: 5px;
  transition: all 0.3s ease-in-out;
  font-family: FontAwesome;
  font-style: normal;
  font-weight: normal;
  text-decoration: inherit;
}
.social-icons a.facebook i {
  width: 23px;
  height: 23px;
  font-size: 12px;
  border: 2px solid;
  border-radius: 50%;
  text-align: center;
  line-height: 1.7;
  margin-top: 1px;
}
.social-contact-icons a {
  display: block;
  margin: 0 1px;
}
.social-contact-icons i {
  color: #fff;
  font-size: 25px;
  margin-right: 5px;
  transition: all 0.3s ease-in-out;
  font-family: FontAwesome;
  font-style: normal;
  font-weight: normal;
  text-decoration: inherit;
}
.social-contact-icons a.facebook i {
  width: 23px;
  height: 23px;
  font-size: 12px;
  border: 2px solid;
  border-radius: 50%;
  text-align: center;
  line-height: inherit;
}

.social-icons i:hover {
  color: #ae1a1f;
}

.map-footer {
  margin-bottom: 35px;
}

.map-footer #map {
  height: 179px;
  margin-bottom: 55px;
}

#footerLogo {
  width: 10rem;
}

.footerSpan::before {
  float: right;
  -webkit-shape-outside: polygon(3% 0, 55% 0, 54% 55%, 35% 35%);
  shape-outside: polygon(3% 0, 55% 0, 54% 55%, 35% 35%);
  content: "";
  width: 337px;
  height: 330px;
  -webkit-shape-margin: 10px;
  shape-margin: 10px;
}

.footerContactTitle {
  margin-bottom: 36px;
}

.footer-logo .aboutTxt {
  line-height: 31px;
  font-size: 16px;
  color: #e5e5e5;

}

.footer-logo {
  position: absolute;
  -webkit-clip-path: polygon(0 0, 31% 0, 91% 100%, 0% 100%);
  clip-path: polygon(0 0, 31% 0, 91% 100%, 0% 100%);
  background-color: #282828;
  width: 44%;
  height: 107%;
  z-index: 10000;
  top: -19%;
  left: 0%;
  text-align: justify;
  overflow: hidden;
}

.footer-logo p {
  font-size: 0.9rem;
}

.span:after {
  content: "";
  width: 100%;
  height: 100%;
  -webkit-shape-margin: 10px;
  shape-margin: 10px;
}

.span:before {
  content: "";
  width: 270px;
  height: 330px;
  -webkit-shape-margin: 10px;
  shape-margin: 10px;
  float: right;
  -webkit-shape-outside: polygon(63% 0, 100% 0, 100% 100%, 100% 34%);
  shape-outside: polygon(63% 0, 100% 0, 100% 100%, 100% 34%);
}

.span:after {
  float: right;
  -webkit-shape-outside: polygon(55% 0, 100% 0, 100% 100%, 120% 100%);
  shape-outside: polygon(55% 0, 100% 0, 100% 100%, 120% 100%);
}

.copy-right a {
  display: block;
  background-color: var(--primary-color);
  color: #f6a19f;
  font-size: 15px;
  padding: 10px;
}

.indexTopContainer {
  padding-left: 0px;
  padding-right: 0px;
}

.indexTopText .text-muted {
  text-align: justify;
  color: #4d4d4d !important;
}

.pl-7 {
  padding-left: 70px;
}

.nopadding {
  padding: 0 !important;
  margin: 0 !important;
}

.overflow {
  overflow-x: auto;
  padding-bottom: 2rem;
}

@media screen and (max-width: 992px) {
  .bg-footer {
    padding: 1rem;
  }

  .footer-logo {
    position: static;
    -webkit-clip-path: polygon(0 0, 100% 0, 100% 100%, 0% 100%);
    clip-path: polygon(0 0, 100% 0, 100% 100%, 0% 100%);

    width: auto;
    height: 100%;
    background-color: transparent;
  }

  .span:before {
    -webkit-shape-outside: polygon(63% 0, 100% 0, 100% 100%, 100% 34%);
    shape-outside: polygon(63% 0, 100% 0, 100% 100%, 100% 34%);
  }
}

/* products-page/////////////////// */
.product-discription p::before {
  content: "";
  width: 12px;
  height: 12px;
  display: inline-block;
  background-color: var(--primary-color);
  margin-right: 10px;
  vertical-align: middle;
}

.singleProductTop #thumbnail-slider {
  position: relative;
  width: auto;
  display: inline-block;
}

#thumbnail-slider .splide__arrow--prev {
  left: -30px !important;
}

.container_fluid.greyBg.singleProductTop {
  padding-bottom: 60px;
}

.singleProductContentContainer {
  margin-top: -60px !important;
}

.singleProductContent {
  font-size: 18px;
  background-color: #fff;

}

.bg-header-products {
  height: 300px;
  background: url("assets/images/header-product\ 1.jpg") no-repeat;
  background-size: cover;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.search-btn {
  -webkit-clip-path: polygon(0 0, 100% 0, 100% 100%, 56% 100%);
  clip-path: polygon(0 0, 100% 0, 100% 100%, 56% 100%);
  background-color: var(--primary-color);
  outline: none;
  border: none;
  padding: 0 1rem;
  transition: all .3s ease-in-out;
}

.search-btn:hover {
  background-color: #fff;
}

.search-btn:hover i {
  color: var(--primary-color) !important;
}

/* .splide__slide img {
    width: 80%;
    height: auto;
  } */
#thumbnail-slider .splide__slide {
  opacity: 0.3;

}

.videoMainContainer {
  margin-top: 3rem;
}

#thumbnail-slider .splide__slide.is-active {
  border: 2px solid #ae1a1f8e !important;

  opacity: 1;
}

.page-link {
  border: none;
  color: #555 !important;
  font-weight: bold;
  display: flex;
  justify-content: center;
  align-items: center;
}

.page-item.active .page-link {
  background-color: var(--primary-color) !important;
  border-color: var(--primary-color) !important;
  color: #fff !important;
}








/* tab in blog page */

.tab-container {
  position: relative;
  margin: 2px;
  padding: .8rem;
  flex-grow: 1;


}

.nav-tabs .nav-link {
  width: 100%;
  height: 7rem;
  border-radius: 0 !important;
  transform: skewX(36deg);
  transition: all .3s ease-in-out;

  overflow: hidden;
}

.nav-tabs span {
  display: inline-block;
  position: absolute;
  color: #fff !important;
  font-size: 1.2rem;
  white-space: nowrap;
  font-weight: bold;
  letter-spacing: 1px;
  z-index: 100000000;
  /* transform: skewX(-36deg) !important; */

}



.nav-tabs .tab-container::after {
  position: absolute;
  content: " ";
  top: 0;
  left: 0;
  width: 93%;
  height: 81%;
  transform: translate(13px, 13px) skew(36deg);
  transition: all 0.2s;
  z-index: -1;

}

.blogTitle {
  color: #2b2b2b;
}
.blogTitle h3{
  font-size: 20px;
}

.blogTitle:hover {
  color: var(--primary-color);
}

#blogPostsTab img {
  width: 100%;
}

.nav-tabs .tab-container:hover::after {
  position: absolute;
  content: " ";
  top: 0;
  left: 0;
  width: 92%;
  height: 81%;
  z-index: -1;
  transform: translate(6px, 21px) skew(36deg);
  border: 5px solid var(--primary-color);

}

.nav-tabs .tab-container.active::after {
  position: absolute;
  content: " ";
  top: 0;
  left: 0;
  width: 92%;
  height: 81%;
  z-index: -1;
  transform: translate(6px, 21px) skew(36deg);
  border: 5px solid var(--primary-color);

}


.nav-tabs .tab-container .nav-link::after {
  width: 100%;
  top: 0;
  transition: all 0.2s;
  content: '';
  position: absolute;
  height: 100%;
  z-index: 10;
  background: transparent;
  display: none;
  right: 0px;
}

.nav-tabs .tab-container .nav-link:hover::after {
  display: block;
  background: linear-gradient(rgb(0 0 0 / 0%), rgba(99, 13, 13, 0.51));

}

.nav-tabs .nav-link.active::after {
  display: block;
  background: linear-gradient(rgb(0 0 0 / 0%), rgba(99, 13, 13, 0.51));

}

.nav-tabs .exhibitions::before {
  display: block;
  content: "";
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  transform: scale(1.4) skewX(-34deg);
  position: absolute;
}

.nav-tabs .news::before {
  display: block;
  content: "";
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  transform: scale(1.4) skewX(-34deg);
  position: absolute;

}

.nav-tabs .announcements::before {
  display: block;
  content: "";
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  transform: scale(1.4) skewX(-34deg);
  position: absolute;

}

.nav-tabs .text-exhibitions {
  position: absolute;
  left: 50%;
  bottom: 50%;
  transform: translate(-50%, 50%) skewX(-36deg);
  display: inline-block;

}

.nav-tabs .text-news {
  position: absolute;
  left: 50%;
  bottom: 50%;
  transform: translate(-50%, 50%) skewX(-36deg);
  display: inline-block;

}

.nav-tabs .text-announcements {
  position: absolute;
  left: 50%;
  bottom: 50%;
  transform: translate(-50%, 50%) skewX(-36deg);
  display: inline-block;

}

@media screen and (max-width:768px) {
  /* .nav-tabs .announcements {
      position: relative;
      background: url("assets/images/microphone.jpg") no-repeat center;
      background-size: cover;
    
    } */
  /* .nav-tabs .text-exhibitions{
      
      transform: translate(-50% , 50%) skewX(0);
      
      
    }
    .nav-tabs .text-news{
      
      transform: translate(-50% , 50%) skewX(0);
      
      
    }
    .nav-tabs .text-announcements{
    
      transform: translate(-50% , 50%) skewX(0);
      
      
    } */
}

/* .nav-tabs .nav-link.active .nav-tabs button{
    overflow: visible !important;
    transform:translate(0 ,0);
  background-color: #810f1398;
  border-bottom: 3px solid red;
  border-left: 3px solid red;
  
  } */

@media screen and (max-width:768px) {
  .nav-tabs .nav-link {

    transform: skewX(20deg);

  }

}


.text-box-aboutus {
  color: #f6f6f6;
}

/* about-us */
.text-box-aboutus ul,
.text-box-aboutus2 ul {

  padding: 0;
}

.text-box-aboutus li,
.text-box-aboutus2 li {
  list-style: none;
}

.text-box-aboutus li::before,
.text-box-aboutus2 li::before {
  content: "";
  display: inline-block;
  width: 10px;
  height: 10px;
  background-color: var(--primary-color);
  margin-right: 5px;

}

.text-box-aboutus {
  background: #333;
  /* background: linear-gradient(90deg,
      rgba(85, 85, 85, 1) 0%,
      rgba(34, 34, 34, 1) 73%); */
  position: relative;
}

.text-box-aboutus2 {
  background: #333;
  /* background: linear-gradient(90deg,
      rgba(85, 85, 85, 1) 0%,
      rgba(34, 34, 34, 1) 73%); */
  position: relative;
}


@media screen and (max-width:991px) {
  .translate-image-aboutus {
    transform: translate(0, 0);
  }

  .translate-image-aboutus2 {
    transform: translate(0, 0);
  }

}

.text-box-aboutus-1 {
  padding-right: 85px !important;
  padding-left: 25px !important;
}

.text-box-aboutus2 {
  padding-right: 25px !important;
  padding-left: 85px !important;
}

@media screen and (min-width:992px) {
  .text-box-aboutus-1::after {
    content: "";
    position: absolute;
    display: block;
    width: 60px;
    height: 200px;
    background-color: rgba(34, 34, 34, 1);
    top: 0;
    right: -10%;
    transform: skewX(20deg);
  }

  .text-box-aboutus-2::after {
    content: "";
    position: absolute;
    display: block;
    width: 60px;
    height: 200px;
    background-color: rgba(34, 34, 34, 1);
    top: 0;
    right: -10%;
    transform: skewX(20deg);
  }

  .text-box-aboutus2::after {
    content: "";
    position: absolute;
    display: block;
    width: 60px;
    height: 200px;
    background-color: rgba(85, 85, 85, 1);
    top: 0;
    left: -10%;
    transform: skewX(-20deg);
  }

  .translate-image-aboutus {
    transform: translate(-60px, 0px);
  }

  .translate-image-aboutus2 {
    transform: translate(-60px, 0px);
    position: relative;
    z-index: -10;
    color: #fff;
  }
}

.bg-maker {
  width: 100%;
  height: 300px;
  background: url("assets/images/making.jpg") no-repeat;
  background-size: cover;


  display: flex;
  justify-content: center;
  align-items: center;
}

@media screen and (min-width:992px) {
  .bg-maker {
    margin-top: 10rem;
  }
}

.about-us-tag {
  display: flex;
  flex-wrap: wrap;

}

header {
  margin-bottom: 3rem;
}

.about-us-tag a {
  display: inline-block;
  background-color: #e7e7e7;
  color: #888;
  padding: .5rem 1rem;
  margin: .5rem 1rem;
  border-radius: 3px;

  text-align: center;
  transition: all .3s ease-in-out;
}

.about-us-tag a:hover {
  background-color: #ae1a1f;
  color: #fff;
}

.singleBlogTop .section-title {
  margin-top: 30px !important;
}

.singleBlogTop i {
  font-size: 26px !important;
  vertical-align: bottom;
}

.singleBlogTop span.fw-bold {
  font-size: 26px !important;
}

/* hiring page */
.form-hiring {
  background-color: #333;
  padding: 2rem 2rem 0.1rem 2rem;
  font-size: .8rem;
  position: relative;
  font-size: 20px;
}

.wpcf7-spinner {
  display: block !important;
  margin: 10px auto !important;
}

.form-hiring input,
.form-hiring select {
  font-size: .8rem;
}

@media screen and (min-width:992px) {
  .form-hiring {
    transform: translateY(-120px);
  }

  .badge-hiring {

    display: inline-block;
    position: absolute;
    width: 70px;
    height: 70px;
    background-color: var(--primary-color);
    top: 0;
    left: 100%;
    clip-path: polygon(0 0, 100% 100%, 0 100%);
  }

  .mt-lg-15 {
    margin-top: 9rem !important;
  }
}

/* contact-us page */
.contact-us-header {
  width: 100%;
  min-height: 450px;
  background: url("assets/images/contact-header\ 1.jpg") no-repeat bottom;
  background-size: cover;
}

.contact-title {
  background-color: var(--primary-color);
  color: #fff;
  display: inline-block;
  padding: .5rem;
  transform: skewX(20deg);
}

.contact-title span {
  font-size: 20px;
  display: inline-block;
  transform: skewX(-20deg);
}

.social-contact-icons {
  display: flex;
  justify-content: center;
  align-items: center;
}

.social-contact-icons .social-badge {
  width: 80px;
  height: 3px;
  background-color: var(--primary-color);
}

.social-contact-icons i {
  display: inline-block;
  color: #333;
  font-size: 1.5rem;
  margin: 1rem .5rem;
  transition: all 0.3s ease-in-out;
}

.social-contact-icons i:hover {
  color: #ae1a1f;
}

.card-contact-us {
  cursor: pointer;
  transition: all .3s ease-in-out;
}

.card-contact-us .card-body {
  visibility: hidden;
  opacity: 0;
  transition: all .3s ease-in-out;
}

.card-contact-us:hover {
  transform: translateY(-30px);
}

.card-contact-us:hover .card-body {
  visibility: visible;
  opacity: 1;
}

#mapcontact {
  position: relative;
}

#mapcontact::after {
  content: "";
  display: block;
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: #ae1a1f5d !important;
  z-index: 10000;
}

.contact-us-form {
  background-color: #333;
  padding: 2rem 1rem !important;
}

.wpcf7 form.sent .wpcf7-response-output,
.wpcf7 form .wpcf7-response-output {
  font-size: 20px;
  margin: 0.2px !important;
}

.wpcf7 form.sent .wpcf7-response-output,
.wpcf7 form .wpcf7-response-output {
  background: #46b450;
  color: #d1ffd5;
}

.hiringForm textarea {
  height: 6rem;
  resize: none;
}

.hiringForm .wpcf7-submit {
  font-size: 16px;
}

.wpcf7 form.invalid .wpcf7-response-output,
.wpcf7 form.unaccepted .wpcf7-response-output,
.wpcf7 form.payment-required .wpcf7-response-output {
  background: #ffb900;
  color: #71560e;
}

@media screen and (min-width:992px) {
  .contact-us-form {
    position: absolute;
    z-index: 100000000;
    top: -23%;
    left: 10%;
  }

  .my-10 {
    margin: 10rem auto;
  }
}

ul.nav-pills {
  padding-right: 0px !important;
}

.singleBlogContent p {
  color: #6c757d !important;
}

.card-body h5 {
  font-weight: bold;
}

@media screen and (max-width:768px) {
  .contact-us-form select {
    margin-top: 15px;
  }

  .contact-titleContainer {
    margin: 0px 20px;
  }

  .navbar-light .nav-item.active {
    margin: 0 60px;
  }

  .navbar-nav {
    direction: rtl;
    padding-right: 0px !important;
    text-align: center;
  }

  .nav-tabs .text-news {
    transform: translate(-50%, 50%) skewX(-20deg);
  }

  .nav-tabs .text-announcements {
    transform: translate(-50%, 50%) skewX(-20deg);
  }

  .nav-tabs .text-exhibitions {
    transform: translate(-50%, 50%) skewX(-20deg);
  }

  .singleProductContent {
    padding-top: 30px;
  }
}

.test img {
  max-width: 9rem;
  padding-top: 25px;
}
.sticky-test-logo img {
  max-width: 12rem;
}
.sticky-test .test {
  display: none;
}

@media screen and (max-width: 1200px) {
  .indexTopImg {
    width: 70%;
    float: right;
  }

  .indexTopText {
    width: 45%;
  }
}

@media screen and (min-width: 1200px) {
  .indexTopImg {
    width: 77%;
    float: right;
  }

}

.text-justify {
  text-align: justify;
}


.mapAndForm {
  padding-bottom: 50px;
}
.pagination{
  margin-top: 2.5rem;
}

.page-item.active a.page-link {
  font-size: 22px;
  background: none !important;
  color: var(--primary-color) !important;
  font-weight: bold;
  vertical-align: middle;
  display: inline;
}
.page-item a.page-link i{
  color: var(--primary-color);
  font-size: 20px;
}

.page-item a.page-link span {
  margin-top: 7px;
}
@media screen and (max-width: 991px) {
  .sticky-test .test {
    display: flex;
  }
}
@media screen and (max-width: 768px) {
  .sticky-test .test {
    display: block;
  }

  .indexContactContainer select[name=depart] {
    margin-top: 1rem !important;
  }

  .test img {
    max-width: 6rem;
    padding-top: 0px;
  }


  .test {
    width: 27%;
    height: auto;
    clip-path: none;
    margin: 0px;
    position: absolute;
    padding: 0px;
    left: 15px;
    top: 26px;
  }

  .bg-header-products {
    height: 150px;
    margin-top: 5.5rem;
  }

  .footerSpan {
    display: none;
  }

  .section-title {
    margin-top: 20px;
    padding: 0px !important;
  }

  header {
    margin-bottom: 0px;
  }


  .videoMainContainer {
    margin-top: 2rem;
  }

  .indexTopText {
    position: relative;
    width: 100%;
    padding: 30px 20px 0px 20px;
    text-align: justify;
  }

  .indexTopText .text-muted {
    text-align: justify;
  }

  .video-container video {
    width: 86%;
    margin-left: 7%;
  }

  .video-container .text-video {
    position: relative;
    width: 100%;
    height: auto;
    padding: 30px 0px;
    margin-top: -50px;
  }

  .nav-tabs .tab-container.active::after {
    transform: translate(6px, 23px) skew(20deg);
  }

  .nav-tabs .nav-link {
    height: 5rem;
  }

  .about_page_top .learn-more {
    padding-top: 0px;
  }

  .about_page .field_title {
    margin-top: 0px;
  }

  .about_page .span {
    display: none;
  }

  .text-box-aboutus-1,
  .text-box-aboutus2,
  .text-box-aboutus3 {
    padding-right: 25px !important;
    padding-left: 25px !important;
    text-align: justify;
    color: #f6f6f6;
  }

  .span:before {
    display: none;
  }

  .singleBlogContent .wp-caption {
    width: 100% !important;
  }

  .singleBlogContent .wp-caption img {
    width: 100% !important;
    height: auto !important;
  }

  .singleBlogContent h1,
  .singleBlogContent h2,
  .singleBlogContent h3,
  .singleBlogContent h4,
  .singleBlogContent h5,
  .singleBlogContent h6 {
    display: block;
  }

  .learn-more-container {
    height: auto;
    margin-bottom: 30px;
  }

  .hiringForm {
    margin-bottom: 30px;
  }
}

.indexContactContainer textarea {
  resize: none;
  height: 6em;
}


.contact-us-form textarea {
  resize: none;
  height: 6em;
}

.footer-icon-group a {
  color: #fff
}

.footer-icon-group .bi {
  font-size: 18px;
}

.social-icons .bi {
  font-size: 29px;
  color: #e6e6e6;
}

.bg-footer {
  padding: 2rem 1rem 0rem 1rem;
}

.footerContactTitle {
  margin-bottom: 22px;
}

.learn-more .span:before {
  shape-outside: polygon(34% 0, 100% 0, 100% 100%, 100% 58%) !important;
}

.mt-minus30 {
  margin-top: -30px;
}

.fs-20 {
  font-size: 20px;
}


.navbar-collapse {
  margin-top: 0;
}

.navbar-light .navbar-toggler {
  position: absolute;
  top: 27px;
  right: 10px;
}

.card-body a {
  color: #545454;
}

.singleProductTop #main-slider img {
  width: 100%;
}

.product-discription {
  padding-left: 30px;
  padding-right: 30px;
}

.indexContactContainer p {
  margin: 0px !important;
}

.indexContactContainer .wpcf7-spinner {
  margin: 0px auto !important;
}

.bg-crop {
  padding-bottom: 10px !important;
}

.indexContactContainer .subtitle {
  margin-bottom: 12px !important;
}

.singleProductTop {
  width: 100%;
  padding-right: var(--bs-gutter-x, .75rem);
  padding-left: var(--bs-gutter-x, .75rem);
  margin-right: auto;
  margin-left: auto;
}

.singleBlogContent img {
  max-width: 100%;
  height: auto;
}

.text-box-aboutus,
.text-box-aboutus2,
.text-box-aboutus3 {
  font-size: 18px !important;
}

.contact-us-form {
  padding-bottom: 0px !important;
}

.singleProductContent p {
  font-size: 16px;
  text-align: justify !important;
}

.contact-sec{
  margin-bottom: 14rem;
}
.text-justify{
  text-align: justify;
}
p.text-center{
  text-align: center !important;
}
.side-title{
  font-size: 20px;
}
.side-subtitle{
  font-size: 16px;
}
.text-muted.side-items{
  font-size: 16px !important;
}
.text-box-aboutus .text-white.text-muted,
.text-box-aboutus2 .text-white.text-muted{
  color: white !important;
}
.birthday-text{
  font-size: 14px;
}